@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&family=Lato:wght@300;400;700&display=swap');

:root{
    --primary: #FF5F5F;
    --white: #FCFCFC;
    --black: #2C2C2C;
}

body{
    font-family: 'Lato', sans-serif;
}

h1{
    font-family: 'Charmonman', cursive;
}